<div id="posts">
</div>

<script type="text/template" id="post-template">
  <span>{{- index }}</span>
  <span class="author">{{- post.author }}</span>
  <span class="time">{{- post.created_at }}</span>
  <div class="body">{{- post.body }}</div>
</script>
